
NEXT_PUBLIC_BACKEND_API_URL=
NEXT_PUBLIC_NEXT_SERVER=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=

NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=

NEXT_PUBLIC_FACEBOOK_APP_ID=
NEXT_PUBLIC_FACEBOOK_VERSION=

NEXT_PUBLIC_REDDIT_ID=
NEXT_PUBLIC_REDDIT_SECRET=

NEXT_PUBLIC_RETURN_URL=

NEXT_PUBLIC_THREADS_APP_ID=
NEXT_PUBLIC_THREADS_SECRET=

NEXT_PUBLIC_GEMINI_API_KEY=

NEXT_PUBLIC_X_CLIENT_ID=
NEXT_PUBLIC_X_CLIENT_SECRET=

NEXT_PUBLIC_X_CODE_VERIFIER_STRING=

NEXT_PUBLIC_INSTAGRAM_APP_ID=
NEXT_PUBLIC_INSTAGRAM_APP_SECRET=
NEXT_PUBLIC_INSTAGRAM_REDIRECT_URI=

NEXT_PUBLIC_TELEGRAM_BOT_NAME=

NEXT_PUBLIC_SOCKET_URL=
