@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 13.33% 94.12%;
    --foreground: 215.17 30.53% 18.63%;
    --muted: 210 38.68% 86.2%;
    --muted-foreground: 199.92 4.26% 44.02%;
    --popover: 0 0% 100%;
    --popover-foreground: 211 70% 1%;
    --card: 0 0% 99%;
    --card-foreground: 215.17 90.03% 6.61%;
    --border: 211 23.06% 86.67%;
    --input: 210 23.53% 86.67%;
    --primary: 215.24 98.1% 58.82%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213.71 81.65% 78.63%;
    --secondary-foreground: 215.24 98.1% 58.82%;
    --accent: 215.24 98.1% 58.82%;
    --accent-foreground: 0 0% 100%;
    --destructive: 11.63 70.49% 35.88%;
    --destructive-foreground: 0 0% 100%;
    --ring: 211 56.26% 48.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --facebook: 24, 119, 242;
    --threads: 0, 0, 0;
    --instagram: 253, 126, 20;
    --reddit: 255, 69, 0;
    --x: 29, 161, 242;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 211 34.51% 51.06%;
    --secondary-foreground: 211 0% 100%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --facebook: 0, 132, 255;
    --threads: 255, 255, 255;
    --instagram: 255, 146, 0;
    --reddit: 255, 69, 0;
    --x: 0, 172, 255;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.myfont {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
